hr {
  color: : black;
}

ul {
  list-style-type: none;
}

h5 {
	background-color: orange;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;

	color: white;
}

ul{
	background-color: white;
	float: left;
	padding-right: 70px;

}

#line{
	background-color: orange;
}

body {
	background-image: url("OuluWinter.jpg");
	background-position: top 200px;
	background-size: 100%;
}

#nobackground{
	background-color: white;
}

#white_thingy
{

	background: rgba(255, 255, 255, 0.3);
}

#orange_thingy
{
	background-color: orange;
	padding-top: 10px;


}


#footerForAll{

    float: centered;
    background-color: rgba(255, 255, 255, 0.3) ;
	text-align: center;
	background-image: none;
	height: 50px;
}



#pollHeader {

    background-color: orange ;
    color:white;
	
}

#pollQuestions {

    background-color: white ;
    color: black;
   
}
#pollResultHeader {

    background-color: orange;
    color: white;
}
#pollAnalyzis {

	background-color: white;
	color:black;


}

#mainContent {

	margin-left: 75px;
	margin-right: 25px;
}
#newsContent {

	background-color: rgba(255, 255, 255, 0.3) ;
	height: 200px;

}
#videoBox {
	background-color: dimgrey;
	height: 150px;
}